$primary: #14133d;
$secondary: #57b2b3;
$primary-accent: #007597;
$secondary-accent: #bbd8bd;
$primary-text: #434343;
$secondary-text: #fff;
$primary-font: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
