<div class="container">
  <form action="/signup" method="post">
    <h1>Hello There!</h1>
    <h4>So glad you've decided to join us. Welcome! Simply fill in the information below to get started.</h4>
    <div class="form-group">
      <label for="user-name">Name </label>
      <input type="text" class="form-control" id="user-name" name="name" required>
    </div>
    <div class="form-group">
      <label for="user-email">Email </label>
      <input type="email" class="form-control" id="user-email" name="email" required>
    </div>
    <div class="form-group">
      <label for="user-password">Password </label>
      <input type="password" class="form-control" id="user-password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary" id="btn-main">Sign Up</button>
  </form>
</div>
