@import 'partials/variables', 'partials/footer';

body {
  background-color: $primary;
  position: relative;
}

header,footer {
  background-color: white;
}

.main-container {
  //width: 800px;
  div.container {
  font-family: $primary-font;
  color: $secondary-text;
  width: 600px;
  }
}

#main-logo {
  margin: auto;
  display: flex;
}
#main-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    #main-menu {
        float: none;
    }
}

//button styles, will likely need to change id and make a mixin for all buttons on site
#btn-login {
  background-color: $secondary;
  border-color: $secondary;
}
