@import 'partials/footer';

$primary: #14133d;
$secondary: #57b2b3;
$primary-accent: #007597;
$secondary-accent: #bbd8bd;
$primary-text: #434343;
$secondary-text: #fff;

body {
  background-color: $primary;
  position: relative;
}

header,footer {
  background-color: white;
}

.container {
  color: $primary-text;
  width: 800px;
  h3 {
    color: $secondary-text;
  }
}

#main-logo {
  margin: auto;
  display: flex;
}
#main-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    #main-menu {
        float: none;
    }
}
