@import 'partials/variables',  'partials/footer', 'partials/mixins', 'partials/header', 'partials/forms';

html {
  height: 100%;
}

body {
  background-color: $primary;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  h1, h2, h3, h4, h5, h6 {
    color: $secondary-text;
  }
  .main-container {
    padding-bottom: 5%;
    min-height: 500px;
    div.container {
      font-family: $primary-font;
      color: $secondary-text;
      li {
        color: $primary-text;
      }
      width: 800px;
    }
  }
}
