<div class="container">
  <h1><%= @book.title%></h1>
  <h4>Author: <%= @book.author%></h4>
  <h4>Length: <% if @book.length != nil %> <%= @book.length%> Pages <%end %> </h4>
  <h4>Format: <%= @book.format%></h4>
  <% if @book.favorite %>
    <h4>Favorite: <img src="/images/star.svg" alt="star" width="20px"></h4>
  <% else %>
    <h4>Favorite: <img src="/images/cross.svg" alt="x symbol" width="20px"></h4>
  <% end %>
</div>

<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
