<div class="container">
  <form class="goal-form" action="/goals" method="post">
    <h1>Set Your Next Goal Here: </h1>
    <p>Note: You may only have one active goal at a time, by creating this goal you will deactive your current goal if it exists.</p>
    <div class="form-group">
      <label for="target_number">Number: </label>
      <input type="number" name="target_number" id="goal">
      <span class="help-block">Enter the number of books you would like to read for this goal.</span>
      <button type="submit" class="btn btn-primary" id="btn-main">Add Goal</button>
  </div>
  </form>
</div>
