<div class="container">
  <h3>Welcome! This app is designed to help you keep track of all the books you read. Bookworms are the coolest aren't they?</h3>
  <div class="home-buttons-container">
    <a href="/login"><button type="submit" class="btn btn-primary btn-home">Log In</button></a>
    <a href="/signup"><button type="submit" class="btn btn-primary btn-home">Sign Up</button></a>
  </div>
</div>
